<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{% block title %}{% endblock %}</title>
    <!-- Api url config. Must be set before all js! -->
    <script type="text/javascript">
      GLOBAL_API_URL = {
        getCategoryTree : "{% url 'api:getCategoryTree' %}",
        searchBlog      : "{% url 'api:searchBlog' %}",
        getBlogDetail   : "{% url 'api:getBlogDetail' %}",
        blogList        : "{% url 'blog:blogList' %}",

        renderMarkdown  : "{% url 'api:renderMarkdown' %}",
        uploadFile      : "{% url 'api:uploadFile' %}",
        updateShortcut  : "{% url 'api:updateShortcut' %}",
        toggleStick     : "{% url 'api:toggleStick' %}",
        deleteBlog      : "{% url 'api:deleteBlog' %}",
        submitBlog      : "{% url 'api:submitBlog' %}",
        addCategory     : "{% url 'api:addCategory' %}",
        deleteCategory  : "{% url 'api:deleteCategory' %}",
        updateBlogPage  : "{% url 'adminx:updateBlog' %}",
        blogAdminPage   : "{% url 'adminx:blogAdmin' %}",
      };
    </script>


    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font-awesom -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'blog/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'blog/js/ie10-viewport-bug-workaround.js' %}"></script>

    {% compress css %}
    
    {% block templateCss %}
    <!-- Custom styles for template -->
    {% endblock %}

    <!-- Code high-light -->
    <link href="{% static 'markdown/css/codehighlight.css' %}" rel="stylesheet">

    {% block customCss %}
    {% endblock %}

    {% endcompress %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% block templateBody %}

    {% endblock %}


    <!-- JS -->

    <!-- Basic Js -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Mathjax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'] ],
          processEscapes: true
        }
      });
    </script>
    <script src="https://cdn.bootcss.com/mathjax/2.7.2/MathJax.js?config=TeX-AMS_HTML"></script>
    {% compress js %}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'blog/js/ie10-viewport-bug-workaround.js' %}"></script>
    {% block customJs %}
    {% endblock %}

    {% endcompress %}

  </body>
</html>
