{% extends "adminx/base.html" %}
{% block title %}
  BlogX Admin Main Page | blogx
{% endblock %}

{% block overviewActive %}
  class="active"
{% endblock %}
{% block indexcontent %}
<h1 class="page-header">Dashboard</h1>


<div class="row">
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">CardA</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">CardB</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">CardC</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>

  </div>
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">CardD</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>

  </div>
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">CardE</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>

  </div>
</div>

{% endblock %}
